.Article {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 941px;

  .ArticleListItem {
    box-shadow: none;
    padding: 0;
  }
}

.Article__body {
  padding-right: 28px;
}
