.formsSign.NewArticle {
  width: 100%;
  max-width: 941px;

  .formsSign__inputs {
    gap: 21px;
  }
  input,
  textarea {
    width: 100%;
  }

  textarea {
    height: 168px;
    resize: none;
  }

  .formsSign__buttonSubmit {
    max-width: 320px;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.tags {
  margin-top: 2px;
}
