.ArticlesList {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  max-width: 941px;
}
.ant-pagination {
  align-self: center;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #1890ff;
}

.ant-pagination .ant-pagination-item-active a,
.ant-pagination .ant-pagination-item-active:hover a {
  color: #ffffff;
}
